---
import CommentSkeleton from './CommentSkeleton.astro';
---

<section class='mt-2 w-full max-w-4xl px-4 py-4'>
  <div class='flex w-full flex-row items-center justify-between'>
    <span class='h-4 w-32 animate-pulse rounded-md bg-slate-400'></span>
    <span class='h-4 w-20 animate-pulse rounded-md bg-slate-400'></span>
  </div>
  <hr class='my-3 h-[2px] w-full bg-slate-200' />
  {
    [0, 1, 2, 3, 4].map((_, index) => {
      return <CommentSkeleton key={index} />;
    })
  }
</section>
