---
import Header from '@components/Header.astro';
import SurveySkeleton from './SurveySkeleton.astro';
import CommentsSectionSkeleton from './CommentsSectionSkeleton.astro';
---

<Header />
<div class='flex w-full max-w-5xl flex-col items-center justify-center gap-8'>
  <SurveySkeleton />
</div>
<CommentsSectionSkeleton />
