---
---

<div class='flex w-full flex-col items-center justify-center gap-8'>
  <div class='flex w-full flex-col items-center justify-normal gap-3'>
    <span class='h-5 w-10/12 animate-pulse rounded-md bg-slate-100'></span>
    <span class='h-5 w-11/12 animate-pulse rounded-md bg-slate-100'></span>
    <span class='h-5 w-8/12 animate-pulse rounded-md bg-slate-100'></span>
  </div>
  <div class='flex w-full flex-col items-start justify-center gap-3'>
    <span class='h-3 w-11/12 animate-pulse rounded-md bg-slate-300'></span>
    <span class='h-3 w-5/12 animate-pulse rounded-md bg-slate-300'></span>
  </div>
  <div class='mt-1 flex w-11/12 animate-pulse flex-col items-center justify-center gap-4'>
    <span class='h-6 w-4/6 rounded-sm bg-slate-300'></span>
    <div class='grid w-full max-w-xl grid-cols-1 gap-4 sm:grid-cols-2'>
      <span class='h-8 w-full rounded bg-yellow-500'></span>
      <span class='h-8 w-full rounded bg-yellow-500'></span>
    </div>
  </div>
</div>
