---
import SweepLayout from './SweepLayout.astro';
import SurveyWithProgressBar from './SurveyWithProgressBar';

const today = new Date().toDateString();
---

<SweepLayout>
  <section class='p-4 flex flex-col gap-8 relative'>
    <SurveyWithProgressBar client:only='preact' />
    <div class='flex flex-col justify-start items-start gap-4 w-full max-w-sm'>
      <h1 class='text-black text-2xl font-bold'>Dear User</h1>
      <div class='grid grid-cols-2 gap-1'>
        <p class='text-xs tracking-wider text-slate-700'>
          Today, {today}, you have been randomly selected to participate in this survey. It will only takes you a minute and you may win a prize: a
          <b>Samsung Galaxy A53</b>
        </p>
        <p class='text-xs tracking-wider text-slate-700'>
          Every month, we randomly choose 10 users to give a chance to win fabulous prizes. Current prize is a
          <b>Samsung Galaxy A53</b>. Only 10 lucky winners and only if you live in your country.
        </p>
      </div>
    </div>
  </section>
</SweepLayout>
