---

---

<!doctype html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>Please wait...</title>
    <script>
      var url = new URL(window.location.href).searchParams.get('url');
      if (url) {
        window.location.replace(decodeURIComponent(url));
      }
    </script>
  </head>
  <body class='flex min-h-screen flex-col items-center justify-start bg-neutral-800'>
    <div class='flex w-full max-w-5xl flex-col items-center justify-center'>
      <h1>Please wait while redirecting...</h1>
    </div>
  </body>
</html>
