---
import Survey from '@components/Survey';
import Layout from '@layouts/Layout.astro';
---

<Layout title='Welcome to Astro.'>
  <main class='p-4'>
    <h1 class='text-center text-lg font-bold tracking-wider sm:text-xl md:text-2xl lg:text-4xl'>
      Would You Make A Great Career Online And Become A Millionaire By 2023?
    </h1>
    <p class='mt-4 text-center text-sm tracking-wider sm:text-base md:text-lg lg:text-xl'>
      Take this FREE test and find out how you can make money on the Internet.
    </p>
    <section class="flex flex-col items-center justify-center gap-2 p-10 max-w-md ml-auto mr-auto">
      <Survey client:load />
    </section>
  </main>
</Layout>
