---

import Main from '@components/Main';
import Layout from '@layouts/Layout.astro';

// can get cookies
// const searchParams = Astro.url.searchParams;
// const url = makeRequestUrl(searchParams, ExitType.ipp, 5381235);
// console.log('🚀 ~ url:', url);
// const res = await fetch(url);
// const nonUnique = await res.json();
// console.log('✅ ~ nonUnique:', nonUnique)
---

<Layout title='Welcome to Astro.'>
  <main class='px-2 py-4'>
    <Main client:only />
  </main>
</Layout>
