---
import SurveyContainer from '@src/components/SurveyContainer';
import { defaultLocale, type TValidLocale } from '@src/config';
import type { TShoppingSurveyDictionary } from '@src/i18n/10864/en';
import { getDictionary } from '@src/i18n/getDictionary';
import Layout from '@src/layouts/Layout.astro';
import { findBestMatchingLocale } from '@src/utils/languageDetection';

let locale: TValidLocale;
const getLocale = () => {
  const matchedLocale = findBestMatchingLocale(Astro.request.headers.get('Accept-Language') || defaultLocale);
  return matchedLocale;
};

const suitableLocale = getLocale();

locale = suitableLocale;

const d = (await getDictionary(10864, locale)) as TShoppingSurveyDictionary;
const offer = parseInt(Astro.url.searchParams.get('offer_id') ?? '0');
---

<Layout title='Finance Survey'>
  {
    offer === 10864 ? (
      <SurveyContainer client:only='preact' surveyData={d.SurveyTexts} buttonStyle={'lazadaSecondary'} />
    ) : (
      <p>There was a problem</p>
    )
  }
</Layout>
