---

---

<footer class='mt-5 flex w-full flex-col items-center justify-center gap-2 p-4'>
  <div class='flex flex-row justify-center items-center'>
    <a href='/privacy' class='border-r-[1px] border-slate-400 p-2 text-xs text-slate-300'>Privacy Policy</a>
    <a href='/cookie' class='p-2 text-xs text-slate-300 border-l-[1px] border-slate-400'>Cookie Policy</a>
  </div>
  <p class='text-xs text-slate-300'>@ 2023</p>
</footer>
