---
---

<header class='w-full p-4'>
    <div class='flex flex-row justify-center items-center gap-2'>
        <img class='w-7 h-7' alt='logo' src='/img/icon-survey.svg' />
        <span class='text-sm text-slate-200'>Online Test $$$</span>
    </div>
</header>
