---
import Review from './Review.astro';
import type { TShoppingSurveyDictionary } from '@src/i18n/10864/en';

interface Props {
  title?: TShoppingSurveyDictionary['commentSection']['title'];
  comments?: TShoppingSurveyDictionary['commentSection']['shoppingReviews'];
}

const { title, comments } = Astro.props;
---

<section class='flex w-full max-w-3xl flex-col gap-2'>
  <h1 class='text-2xl tracking-wider text-slate-950'>{title}</h1>
  <div class='flex max-h-[350px] w-full flex-col gap-4 overflow-y-auto px-1 py-2'>
    {comments?.map((review) => <Review review={review} />)}
  </div>
</section>
