---
import { Image } from 'astro:assets';

interface Props {
  image: string;
}

const { image } = Astro.props;
---

<div class='relative w-10 cursor-pointer rounded-sm'>
  <Image src={image} alt={'whatever'} width={500} height={500} class='fill object-cover' loading={'lazy'} />
</div>
