---
import '@styles/global.css';
import AutoExit from '@monetization/Autoexit';
import InitPush from '@monetization/InitPush';
import Reverse from '@monetization/Reverse';
import NonUnique from '@monetization/NonUnique';
import UpdateRewardisUrl from '@components/UpdateRewardisUrl';
import InApp from '@features/inApp/inApp';
import { UAParser } from 'ua-parser-js';
import InAppOverlay from '@features/inApp/InAppOverlay';

export interface Props {
  title: string;
}

export type InAppResult = {
  isInApp: boolean;
  browser: string;
};

const { title } = Astro.props;

const UA = Astro.request.headers.get('user-agent') ?? '';
const parser = UAParser(UA);
const result: InAppResult = new InApp(UA);
const isInApp = result.isInApp;

// const browserName = parser.browser.name?.toLocaleLowerCase();
const osName = parser.os.name?.toLocaleLowerCase();
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
    <script src='@utils/ErrorFallback.ts'></script>
    <script src='@fraudPrevention/areCookiesEnabled.ts'></script>
  </head>
  <body id='body'>
    {isInApp && <InAppOverlay client:only osName={osName} />}
    <NonUnique client:only='preact' />
    <main class='flex flex-col justify-center items-center min-h-screen overflow-hidden'>
      <slot />
    </main>
    <Reverse client:only='preact' />
    <AutoExit client:only='preact' />
    <InitPush client:only='preact' />
    <UpdateRewardisUrl client:only='preact' />
  </body>
</html>

<script>
  import { replaceMacrosWithEmptyString } from '@utils/replaceMacros';

  if (typeof window !== 'undefined') {
    replaceMacrosWithEmptyString(window.location.href);
  }
</script>
