---
import CommentsSection from '@components/CommentsSection/CommentsSection.astro';
import Footer from '@components/Footer.astro';
import Header from '@components/Header.astro';
import AutoExit from '@components/Monetization/Autoexit';
import InitPush from '@components/Monetization/InitPush';
import NonUnique from '@components/Monetization/NonUnique';
import Reverse from '@components/Monetization/Reverse';
import '@styles/global.css';
import production from '@utils/isProduction';

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
    <script>
      import * as Sentry from '@sentry/browser';
      Sentry.init({
        dsn: 'https://8f42fb7fc8954337bd9e7944b7235535@o4504255785992192.ingest.sentry.io/4505476836884480',
        integrations: [
          new Sentry.BrowserTracing({
            // Set `tracePropagationTargets` to control for which URLs distributed tracing should be enabled
            tracePropagationTargets: ['localhost', /^https:\/\/yourserver\.io\/api/],
          }),
          new Sentry.Replay(),
        ],
        // Performance Monitoring
        tracesSampleRate: 1.0, // Capture 100% of the transactions, reduce in production!
        // Session Replay
        replaysSessionSampleRate: 0.1, // This sets the sample rate at 10%. You may want to change it to 100% while in development and then sample at a lower rate in production.
        replaysOnErrorSampleRate: 1.0, // If you're not already sampling the entire session, change the sample rate to 100% when sampling sessions where errors occur.
      });
    </script>
  </head>
  {production && <NonUnique client:only />}
  <body class='flex min-h-screen flex-col items-center justify-start bg-neutral-800'>
    <div class='flex w-full max-w-5xl flex-col items-center justify-center'>
      <Header />
      <slot />
      <CommentsSection />
      <Footer />
      {production && <Reverse client:only />}
      {production && <AutoExit client:only />}
      {production && <InitPush client:only />}
    </div>
  </body>
</html>

<script>
  import { replaceMacrosWithEmptyString } from '@utils/replaceMacros';

  replaceMacrosWithEmptyString(window.location.href);
</script>
