---
import CommentsSection from '@components/CommentsSection/CommentsSection.astro';
import Footer from '@components/Footer.astro';
import Header from '@components/Header.astro';
import AutoExit from '@components/Monetization/Autoexit';
import InitPush from '@components/Monetization/InitPush';
import NonUnique from '@components/Monetization/NonUnique';
import Reverse from '@components/Monetization/Reverse';
import '@styles/global.css';
import production from '@utils/isProduction';

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
    <script src='@utils/initSentry.ts'></script>
    <script src='@utils/webVitals.ts'></script>
    <script src='@components/Monetization/isCookiesEnabled.ts'></script>
  </head>
  <body class='flex min-h-screen flex-col items-center justify-start bg-neutral-800'>
    {production && <NonUnique client:only='preact' />}
    <div class='flex w-full max-w-5xl flex-col items-center justify-center'>
      <Header />
      <slot />
      <CommentsSection />
      <Footer />
    </div>
    {production && <Reverse client:only='preact' />}
    {production && <AutoExit client:only='preact' />}
    {production && <InitPush client:only='preact' />}
  </body>
</html>

<script>
  import { replaceMacrosWithEmptyString } from '@utils/replaceMacros';
  if (typeof window !== 'undefined') {
    replaceMacrosWithEmptyString(window.location.href);
  }
</script>
