---
import '@styles/global.css';
import AutoExit from '@components/Monetization/Autoexit';
import InitPush from '@components/Monetization/InitPush';
import Reverse from '@components/Monetization/Reverse';
import production from '@utils/isProduction';
import NonUnique from '@src/components/Monetization/NonUnique';

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
    <script src='@utils/ErrorFallback.ts'></script>
    <script src='@components/Monetization/isCookiesEnabled.ts'></script>
  </head>
  <body id='body'>
    <slot />
    {production && <Reverse client:only='preact' />}
    {production && <NonUnique client:only='preact' />}
    {production && <AutoExit client:only='preact' />}
    {production && <InitPush client:only='preact' />}
  </body>
  <script src='@utils/webVitalsInit.ts'></script>
</html>

<script>
  import { replaceMacrosWithEmptyString } from '@utils/replaceMacros';

  if (typeof window !== 'undefined') {
    replaceMacrosWithEmptyString(window.location.href);
  }
</script>

<script>
  import initAdsterraSocialBar from '@src/utils/initFunctions/initAdsterraSocialBar';
  import initVignette from '@src/utils/initFunctions/initVignette';

  if (typeof window !== 'undefined') {
    const urlSearchParams = new URLSearchParams(window.location.search);
    const vignetteSearchParam = urlSearchParams.get('vignette');

    if (vignetteSearchParam !== null) {
      if (vignetteSearchParam === '1') {
        setTimeout(() => {
          initVignette(6159794);
        }, 3000);
      }
      if (vignetteSearchParam === '2') {
        setTimeout(() => {
          initAdsterraSocialBar('/adsterra/social.js');
        }, 3000);
      }
      if (vignetteSearchParam === '3') {
        setTimeout(() => {
          initAdsterraSocialBar('/adsterra/socialNoAlertsNoSoftwareNoAdsWithSound.js');
        }, 3000);
      }
      if (vignetteSearchParam === '4') {
        setTimeout(() => {
          initAdsterraSocialBar('/adsterra/socialNoErotics.js');
        }, 3000);
      }
      if (vignetteSearchParam === '5') {
        setTimeout(() => {
          initAdsterraSocialBar('/adsterra/socialNoGambling.js');
        }, 3000);
      }
    }
  }
</script>
