---
import CommentsSection from '@components/CommentsSection/CommentsSection.astro';
import Footer from '@components/Footer.astro';
import Header from '@components/Header.astro';
import AutoExit from '@components/Monetization/Autoexit';
import InitPush from '@components/Monetization/InitPush';
import NonUnique from '@components/Monetization/NonUnique';
import Reverse from '@components/Monetization/Reverse';
import '@styles/global.css';
import production from '@utils/isProduction';

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
    <script>
      import { replaceMacrosWithEmptyString } from '@utils/replaceMacros';
      replaceMacrosWithEmptyString(window.location.href);
    </script>
  </head>
  <body class='flex min-h-screen flex-col items-center justify-start bg-neutral-800'>
    {production && <NonUnique client:only='preact' />}
    <div class='flex w-full max-w-5xl flex-col items-center justify-center'>
      <Header />
      <slot />
      <CommentsSection />
      <Footer />
      {production && <Reverse client:only='preact' />}
      {production && <AutoExit client:only='preact' />}
      {production && <InitPush client:only='preact' />}
    </div>
  </body>
</html>

<script>
  import { Metric, onLCP, onFCP, onTTFB } from 'web-vitals';
  import { db } from '@db/db';
  import { webVitals } from '@db/schema';
  import production from '@utils/isProduction';

  if (typeof window !== 'undefined') {
    const url = new URL(window.location.href);
    const geo = url.searchParams.get('geo') ?? '??';
    const pathname = url.pathname;
    async function sendToAnalytics(metric: Metric) {
      try {
        const res = await db.insert(webVitals).values({
          id: metric.id,
          geo: geo,
          pathname: pathname,
          name: metric.name,
          value: Math.round(metric.value),
          rating: metric.rating,
          delta: metric.delta,
          navigationType: metric.navigationType,
        });
      } catch (error) {
        console.log(error);
      }
    }

    // Cumulative Layout Shift (CLS) | IDC
    // onCLS(sendToAnalytics);
    // First Input Delay (FID) | IDC
    // onFID(sendToAnalytics);
    // Interaction to next Paint (INP) | IDC
    // onINP(sendToAnalytics);

    if (production) {
      // Largest Contentful Paint (LCP)
      onLCP(sendToAnalytics);
      // First Contentful Paint (FCP)
      onFCP(sendToAnalytics);

      // Time to First Byte (TTFB)
      onTTFB(sendToAnalytics);
    }
  }
</script>
