---
import AutoExitForNonUniqueTest from './AutoExitForNonUniqueTest';
import PushForNonUniqueTest from './PushForNonUniqueTest';
import Reverse from '../Monetization/Reverse';
import InitialFinancePage from './InitialFinancePage.astro';
import NonUniqueTestUis from './NonUniqueTestUis';

const nonUniqueTest = Astro.url.searchParams.get('abtest');
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>Click to continue</title>
  </head>
  <body class='flex max-h-screen min-h-screen flex-col items-center justify-start overflow-hidden bg-neutral-800' id='body'>
    <div class='flex w-full max-w-5xl flex-col items-center justify-center'>
      {nonUniqueTest === '270769222' && <InitialFinancePage />}
      <NonUniqueTestUis client:only='preact' />
      <AutoExitForNonUniqueTest client:only='preact' />
      <PushForNonUniqueTest client:only='preact' />
      <Reverse client:only='preact' />
    </div>
  </body>
</html>
