---
const today = new Date().toDateString();
---

<div class='w-screen bg-blue-800 text-white p-1 flex flex-col items-center justify-center gap-1 z-10'>
  <h1 class='font-bold tracking-wider'>Congratulations!</h1>
  <p class='text-sm tracking-wider text-center'>Promotional Contest on <b>{today}</b>.</p>
</div>
